@import './../../styles/variables.css';

.wrapper__card {
    display: inline-flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    min-width: 25rem;
    height: 30rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow-cool);
}

.wrapper__thumbnail {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.wrapper__card img {
    border-radius: 50%;
    width: 10rem;
    align-self: center;
}

.wrapper__card h1 {
    position: relative;
}

.wrapper__card span {
    color: green;
    position: relative;
    top: .5rem;
    margin-left: .5rem;
}